/* ========================= */
/* RESET */
/* ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #050816,
        #1b0f3a,
        #30115e,
        #0f3460
    );
}

/* ========================= */
/* NAVBAR */
/* ========================= */

.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 1400px;

    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;

    background: rgba(255,255,255,.05);

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,.10);

    z-index: 1000;
}

.logo{
    font-size:1.8rem;
    font-weight:700;
    letter-spacing:3px;
}

.navbar nav{
    display:flex;
    gap:35px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.navbar a:hover{
    color:#60a5fa;
}

/* ========================= */
/* HERO */
/* ========================= */

.hero{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:150px 30px 50px;
}

/* ====== BANNIÈRE ====== */

.hero-content{

    width:100%;
    max-width:1500px;

    height:520px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    position:relative;

    overflow:hidden;

    border-radius:35px;

    background:
        linear-gradient(
            rgba(5,8,22,.45),
            rgba(5,8,22,.70)
        ),
       url("téléchargé.jpg");

    background-size:cover;
    background-position:center;

    border:1px solid rgba(255,255,255,.12);

    box-shadow:
        0 20px 60px rgba(0,0,0,.45);
}

.hero h1{

    font-size:5.5rem;

    font-weight:800;

    letter-spacing:6px;

    margin-bottom:25px;

    text-shadow:0 0 30px rgba(0,0,0,.55);
}

.hero p{

    font-size:1.4rem;

    color:#f1f5f9;

    margin-bottom:35px;

    text-shadow:0 0 15px rgba(0,0,0,.55);
}

.hero button{

    padding:16px 38px;

    border:none;

    border-radius:50px;

    background:#3b82f6;

    color:white;

    font-size:1rem;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.hero button:hover{

    background:#2563eb;

    transform:translateY(-4px);
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:900px){

    .navbar{

        flex-direction:column;

        gap:20px;
    }

    .navbar nav{

        flex-wrap:wrap;

        justify-content:center;
    }

    .hero-content{

        height:420px;
    }

    .hero h1{

        font-size:3rem;

        letter-spacing:3px;
    }

    .hero p{

        font-size:1rem;
    }
}
